@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #000;
	background-image: url(../img/Space_Needle.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	color: #FFF;
}

/* Special Headers */

h1.title {
	color: #333;
	font-weight: 300;
	text-align: center;
}

h5.description {
	color: #FFF;
	margin: 0;
	padding: 5px;
	text-align: center;
	display: none;
}

/* Buttons */

.btn.btn-seattle {
	background-color: rgba(0,0,0,.2);
	color: #FFF;
	margin-top: 10px;
}

.btn.btn-seattle span {
	font-size: 14px;
}

/* Navbar */

a span {
	font-size: 12px;
}

.navbar {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

/* Media Queries */

@media(max-width: 768px) {
	h1.title, h5.description {
		display: block;
		width: auto;
	}

	.btn.btn-seattle {
		width: 100%;
	}

	.w500 {
		width: auto;
		text-align: center;
	}
}

@media(max-width: 400px) {
	
}